{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-danger">Error</h2>
    <p class="font-weight-bold">Ups, an error occurred!</p>
    <p>Check your logs.</p>
    <p>Add <kbd>APP_ENV=dev</kbd> to your <kbd>.env.local</kbd> for more debugging information.</p>
{% endblock %}
