{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-danger">Page not found</h2>
    <p class="font-weight-bold">The requested page could not be located.</p>
    <p>Checkout for any url misspelling or <a href="{{ path('index') }}" class="text-danger">return to the homepage</a>.</p>
{% endblock %}
